---
import Layout from '@/layouts/Layout.astro'
import HeroContainer from '../HeroContainer.astro'
import LinkButton from '../LinkButton.astro'

import { getI18N } from '../../i18n'
import Counter from '../Counter.astro'
const { currentLocale } = Astro

const i18n = getI18N({ currentLocale })
---

<Layout title='Archivo' description='Archivo'>
  <HeroContainer img='./hero-archivo.webp'>
    <h1 class='font-tomaso tracking-widest text-5xl font-medium mb-20'>
      EDICIONES ANTERIORES
    </h1>

    <LinkButton url='https://www.youtube.com/watch?v=1YmpPrqKP-g'>
      REVIVE LA ÚLTIMA GALA
    </LinkButton>
  </HeroContainer>

  <main>
    <Counter />
  </main>
</Layout>
