---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Video from '../components/Video.astro';
import Bento from '../components/Bento.astro';
import Prefooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="Premios ESLAND 2024 - Celebrando lo mejor del streaming " description="Vota por lo mejores creadores de contenido de habla hispana. Celebra la innovación y el talento de las mejores plataformas">
	<Video />
	<main>
		<Intro />
		<Bento />

		<Prefooter />
	
	</main>
	<Footer />
</Layout>

<style>
</style>
