---
import LinkButton from './LinkButton.astro'
import Logo from './Logo.astro'
---

<header id='header-nav' class='fixed w-screen py-4 z-50 top-0 px-0 lg:px-8'>
  <div class='grid grid-cols-3 max-w-7xl mx-auto items-center justify-between'>
    <a href='/' class='col-span-1'>
      <Logo class='w-12 h-auto' />
    </a>
    <nav class='col-span-1 justify-self-center'>
      <ul class='flex gap-4'>
        <li>
          <a class='hover:underline' href='/info'>INFO</a>
        </li>
        <li>
          <a class='hover:underline' href='/archivo'>ARCHIVE</a>
        </li>
      </ul>
    </nav>

    <LinkButton url='https://www.youtube.com/watch?v=O43x26hiolw'>
      ESLAND: EL DOCUMENTAL
    </LinkButton>
  </div>
</header>
