---
const { img } = Astro.props
---

<div
  style={`background-image: url("${img}")`}
  class='cp-video relative h-[80vh] w-full max-w-[100vw]'
>
  <div
    class='absolute inset-0 m-auto flex justify-center items-center flex-col h-full w-full'
  >
    <slot />
  </div>
</div>
