<a
  href='https://www.youtube.com/watch?v=1YmpPrqKP-g'
  class='border rounded-full inline-block border-white px-4 justify-self-end hover:bg-white py-2 hover:text-black duration-300'
>
  <slot />
</a>
