---
---

<div class="'w-full mx-auto relative">
    <img src='./media/logo-home.svg'
    class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto" alt="Esland - Premios a la comunidad hispanohablante de streaming"/>
    <video class='w-full h-screen object-top object-cover animate-fade animate-duration-1000 ' src="/media/video.webm" autoplay loop muted
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%)"/>
    <video class='absolute -bottom-48 blur-3xl -z-40' src="/media/video.webm" autoplay loop muted/>
</div>